[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
# innodb_force_recovery = 1
bind-address = 0.0.0.0
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=NULL
skip-name-resolve
skip_name_resolve

# SSL Settings
ssl_ca=/var/lib/mysql/ca.pem
ssl_cert=/var/lib/mysql/server-cert.pem
ssl_key=/var/lib/mysql/server-key.pem
# skip_ssl = 1

# --tls-version=invalid

[client]
socket=/var/run/mysqld/mysqld.sock

# SSL Settings
ssl_ca=/var/lib/mysql/ca.pem
ssl_cert=/var/lib/mysql/client-cert.pem
ssl_key=/var/lib/mysql/client-key.pem
# skip_ssl = 1
